{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book Store</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <style>
        .shop-item-id {
            display: none;
        }
    </style>
</head>

<body>

    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">New Releases</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div id="templatemo_header">
            <div id="templatemo_special_offers">
                <p>
                    <span>25%</span> discounts for
                    purchase over $ 40
                </p>
                <a href="#" style="margin-left: 50px;">Read more...</a>
            </div>


            <div id="templatemo_new_books">
                <ul>

                    <li><a href="">105 Stories..</a></li>
                </ul>
                <a href="#" style="margin-left: 50px;">Read more...</a>
            </div>
        </div>

        <div id="templatemo_content">

            <div id="templatemo_content_left">
                <div class="templatemo_content_left_section">
                    <h1>Categories</h1>
                    <ul>
                        <li><a href="#">Applied English Grammar and Composition</a></li>
                        <li><a href="">105 Stories and Fables that Illumine, Delight, and Inform</a></li>
                    </ul>
                </div>



            </div>
            <section class="container content-section">

                <div class="shop-items">
                    <div class="shop-item">
                        <div id="templatemo_content_right">

                            <h1>Book List</h1>

                            <ul>
                                {% for book in books %}
                                <div>
                                    <h2 class="shop-item-id">{{ book.id }}</h2>

                                    <h2 class="shop-item-title">{{ book.title }}</h2>
                                    <p style="color: aqua;">Author: {{ book.author }}</p>
                                    <p>Description: {{ book.description }}</p>
                                    <p style="color: rgb(24, 165, 130);" class="shop-item-price">Price: ${{ book.price
                                        }}</p>
                                    {% if book.image %}
                                    <img class="shop-item-image" src="{{ book.image.url }}" alt="{{ book.title }}"
                                        width="200" height="200">
                                    {% endif %}


                                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                                </div>
                                <hr>
                                {% empty %}
                                <p>No books available.</p>
                                {% endfor %}
                            </ul>

                        </div>

                        <div class="cleaner_with_height">&nbsp;</div>
                    </div>
                </div>
        </div>
        </section>
        <section style="background-color: #f2f2f2;" class="container content-section">
            <h2>CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">

            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
    </div>

    <script>
        if (document.readyState == 'loading') {
            document.addEventListener('DOMContentLoaded', ready)
        } else {
            ready()
        }

        function ready() {
            var removeCartItemButtons = document.getElementsByClassName('btn-danger')
            for (var i = 0; i < removeCartItemButtons.length; i++) {
                var button = removeCartItemButtons[i]
                button.addEventListener('click', removeCartItem)
            }

            var quantityInputs = document.getElementsByClassName('cart-quantity-input')
            for (var i = 0; i < quantityInputs.length; i++) {
                var input = quantityInputs[i]
                input.addEventListener('change', quantityChanged)
            }

            var addToCartButtons = document.getElementsByClassName('shop-item-button')
            for (var i = 0; i < addToCartButtons.length; i++) {
                var button = addToCartButtons[i]
                button.addEventListener('click', addToCartClicked)
            }

            document.getElementsByClassName('btn-purchase')[0].addEventListener('click', purchaseClicked)
        }

        function purchaseClicked() {
            alert('Thank you for your purchase')
            var cartItems = document.getElementsByClassName('cart-items')[0]
            while (cartItems.hasChildNodes()) {
                cartItems.removeChild(cartItems.firstChild)
            }
            updateCartTotal()
        }

        function removeCartItem(event) {
            var buttonClicked = event.target
            buttonClicked.parentElement.parentElement.remove()
            updateCartTotal()
        }

        function quantityChanged(event) {
            var input = event.target
            if (isNaN(input.value) || input.value <= 0) {
                input.value = 1
            }
            updateCartTotal()
        }

        function addToCartClicked(event) {
            var button = event.target
            var shopItem = button.parentElement.parentElement
            var title = shopItem.getElementsByClassName('shop-item-title')[0].innerText
            var price = shopItem.getElementsByClassName('shop-item-price')[0].innerText
            var imageSrc = shopItem.getElementsByClassName('shop-item-image')[0].src
            var id = shopItem.querySelector('.shop-item-id').innerText;




            addItemToCart(title, price, imageSrc)
            updateCartTotal()
        }

        function addItemToCart(title, price, imageSrc) {
            var cartRow = document.createElement('div')
            cartRow.classList.add('cart-row')
            var cartItems = document.getElementsByClassName('cart-items')[0]
            var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
            for (var i = 0; i < cartItemNames.length; i++) {
                if (cartItemNames[i].innerText == title) {
                    alert('This item is already added to the cart')
                    return
                }
            }
            var cartRowContents = `
        <div class="cart-item cart-column">
            <img class="cart-item-image" src="${imageSrc}" width="100" height="100">
            <span class="cart-item-title">${title}</span>
        </div>
        <span class="cart-price cart-column">${price}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="1">
            <button class="btn btn-danger" type="button">REMOVE</button>
        </div>`
            cartRow.innerHTML = cartRowContents
            cartItems.append(cartRow)
            cartRow.getElementsByClassName('btn-danger')[0].addEventListener('click', removeCartItem)
            cartRow.getElementsByClassName('cart-quantity-input')[0].addEventListener('change', quantityChanged)
        }

        function updateCartTotal() {
            var button = event.target
            var shopItem = button.parentElement.parentElement
            var price = shopItem.getElementsByClassName('shop-item-price')[0].innerText
            var cartItemContainer = document.getElementsByClassName('cart-items')[0];
            var cartRows = cartItemContainer.getElementsByClassName('cart-row');
            var total = 0;

            for (var i = 0; i < cartRows.length; i++) {
                var cartRow = cartRows[i];
                var priceElement = cartRow.getElementsByClassName('cart-price')[0];
                var quantityElement = cartRow.getElementsByClassName('cart-quantity-input')[0];
                var price = parseFloat(priceElement.innerText.replace('$', '').trim());
                var quantity = quantityElement.value;

                if (!isNaN(price) && !isNaN(quantity)) {
                    total += price * quantity;
                }
            }


            total = Math.round(total * 100) / 100;
            document.getElementsByClassName('cart-total-price')[0].innerText = '$' + total;
        }


    </script>

</html>